@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html,
body {
  min-height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  font-size: 20px;
  margin: 0;
}

a {
  text-decoration: none;
}
strong {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
  padding: 0;
}
.body-inner {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  font-family: "PT Sans", sans-serif;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}
.button:hover {
  background-color: #615048;
}
.button:focus {
  background-color: #615048;
}
.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.button:disabled {
  background-color: #e5e5e5;
}

.button-additional {
  background-color: #82b3d3;
}
.button-additional:hover {
  background-color: #68a2ca;
}
.button-additional:focus {
  background-color: #68a2ca;
}
.button-additional:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}
.button-additional:disabled {
  background-color: #e5e5e5;
}

.big-size {
  font-size: 20px;
  line-height: 36px;
}

.button-active {
  background-color: #7db54f;
}

.button-active:hover {
  background-color: #6c9e42;
}
.button-active:focus {
  background-color: #6c9e42;
}
.button-active:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}
.button-active:disabled {
  background-color: #e5e5e5;
}

.button-transparent {
  background-color: rgba(130, 179, 211, 0);
  width: 191px;
  min-height: 36px;
  margin-top: 32px;
}
.button-transparent:hover {
  background-color: rgba(130, 179, 211, 0);
  opacity: 0.6;
}
.button-transparent:focus {
  background-color: rgba(130, 179, 211, 0);
  border: 3px solid #83b3d3;
}
.button-transparent:active {
  background-color: rgba(130, 179, 211, 0);
  color: rgba(255, 255, 255, 0.3);
  border: 0;
}
.button-transparent:disabled {
  border: 0;
  opacity: 0.1;
}
.button-filter .button-additional {
  width: 191px;
  min-height: 36px;
}
.button-main {
  width: 160px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: transparent;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-link {
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  position: relative;
}
.navigation-item .active::before {
  position: absolute;
  right: 10px;
  bottom: 0;
  left: 15px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user .navigation-link {
  background-position: center;
  width: 44px;
  height: 100%;
}

.navigation-link:has(.favorites-counter) {
  position: relative;
}

.favorites-counter {
  position: absolute;
  top: 24%;
  right: 6px;
  background-color: #7db54f;
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.navigation-page a {
  display: block;
  padding: 20px 16px;
}
.navigation-page {
  max-width: 600px;
}
.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-user {
  max-width: 300px;
  margin-left: auto;
}
.navigation-item .button {
  margin-left: 20px;
}
.container-navigation-logo {
  height: 64px;
  position: relative;
}
.page-header-logo {
  width: 140px;
  margin-right: 30px;
}
.main-container {
  flex-grow: 1;
}
.search-svg {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
}

.favorites-svg {
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
}

.logo-container {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
  display: block;
  width: 1200px;
  height: 485px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 54px;
}
.intro {
  padding: 69px 240px;
}
.intro-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding-top: 20px;
}

.header-2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.header-3 {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-list {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-wrap: wrap;
  min-height: 385px;
}

.advantages-item {
  background-color: #82b3d3;
  text-align: center;
  width: 400px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  font-weight: 400;
  align-items: center;
  margin: 0;
}

.advantages-item.side-image {
  width: 1200px;
  display: flex;
}
.line {
  width: 60px;
  min-height: 2px;
  border: 0;
  margin: 0;
}
.side-image .line {
  background-color: rgba(255, 255, 255, 0.3);
}
.saturated-12 .line {
  background-color: rgba(0, 0, 0, 0.3);
}
.saturated-20 .line {
  background-color: rgba(0, 0, 0, 0.3);
}
.text-wrapper {
  padding: 0 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 385px;
  align-items: center;
  row-gap: 30px;
}
.image-wrapper {
  height: 385px;
}

.subscription {
  color: #ffffff;
}
.promo {
  text-align: center;
  padding: 64px 0;
}
.saturated-20 {
  background-color: rgba(130, 179, 211, 0.2);
}
.saturated-12 {
  background-color: rgba(130, 179, 211, 0.12);
}
.recommendations-list {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.recommendations-item {
  max-width: 400px;
  padding: 0 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 385px;
  margin: 0;
}
.recommendations-item-container {
  width: 230px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.hotel-logo {
  background-image: url("../images/icons/hotels.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
}
.food-logo {
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 74px;
  height: 70px;
}
.present-logo {
  background-image: url("../images/icons/present.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 76px;
}

.recommendations-description {
  color: #000000;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}
.hotel-search {
  min-height: 406px;
}
.hotel-search-container {
  width: 592px;
  margin: 0 auto;
}
.hotel-search-description {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  padding-top: 96px;
  margin: 0;
}

.bottom-container a {
  display: flex;
  width: 376px;
  margin: 54px auto 0;
  min-height: 52px;
}
/*Footer*/
.main-catalog {
  margin: 0;
  padding: 0;
}
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.page-footer-container .button {
  border-radius: 0 4px 4px 0;
}

.footer-index-newsletter {
  text-align: center;
  background-image: url("../images/index-background2.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  min-height: 415px;
}
.footer-index-container {
  margin: 0 auto;
  width: 684px;
  padding-top: 96px;
}
.newsletter-form {
  padding-top: 54px;
}

.newsletter-form input {
  padding: 5px 20px;
  border: 0;
  width: 412px;
  height: 42px;
  float: left;
  border-radius: 4px 0 0 4px;
}

.newsletter-form button {
  padding: 0;
  float: left;
  width: 232px;
  min-height: 52px;
}

.contacts {
  display: flex;
  flex-wrap: nowrap;
  width: 1060px;
  padding: 40px 70px 30px;
  align-items: center;
}
.contacts-list {
  display: flex;
  width: 170px;
  margin: 0;
  min-height: 50px;
  align-items: center;
}

.htmlacademy {
  width: 170px;
  position: relative;
}
.htmlacademy-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  margin: auto;
  fill: #000000;
}
.htmlacademy-icon:hover {
  fill: #756157;
}
.htmlacademy-icon:focus {
  fill: #756157;
}
.htmlacademy-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.contacts-item {
  position: relative;
  width: 48px;
  height: 40px;
}

.contacts-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}
.contacts-icon:hover {
  fill: #68a2ca;
}
.contacts-icon:focus {
  fill: #68a2ca;
}

.contacts-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}
.phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  width: 720px;
}
.contacts-phone {
  color: #000000;
}
.contacts-phone:hover {
  color: #756157;
}
.contacts-phone:focus {
  color: #756157;
}
.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}
.htmlacademy-logo-img {
  background-position: center;
}
/*Ð¡atalog*/

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}
.main-wrapper {
  background-image: url(../images/catalog-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 35px 70px 70px;
}

.catalog-filter {
  display: flex;
}

.options-wrapper {
  display: flex;
  width: 370px;
  gap: 70px;
}
.catalog-filter-group {
  width: 150px;
  padding: 0;
}
.inputs-wrapper {
  display: flex;
  width: 550px;
  margin-left: 140px;
  padding: 0;
}

.button-filter {
  margin-left: 70px;
  width: 191px;
}

.catalog-products {
  width: 1060px;
  margin: 0 auto;
}
.sorting-container {
  width: 1060px;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 50px;
  align-items: center;
  padding-bottom: 40px;
  justify-content: space-between;
}
.select-view-container {
  display: flex;
  column-gap: 70px;
}
.main-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.breadcrumbs {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  padding-top: 8px;
}
.breadcrumbs-home {
  background-image: url("/images/icons/house-breadcrumbs.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  background-position: center;
}
.arrow-breadcrumbs {
  background-image: url("/images/icons/arrow-breadcrumbs.svg");
  background-repeat: no-repeat;
  width: 7px;
  height: 10px;
  background-position: center;
  margin: 0;
}
.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
}
.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
}
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}
.filter-hotels {
  padding-top: 40px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
}
.control {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  font-weight: 400;
}
.price-filter {
  width: 288px;
}
.price-filter-input {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
}

.price-filter-span {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
}

.catalog-h2 {
  text-align: left;
}
.line-catalog {
  border: 1px solid #e6e6e6;
  margin: 0;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("/images/icons/arrow.svg");
  background-position: right 20px center;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  appearance: none;
}
.select-control:hover {
  border: 2px solid #68a2ca;
}
.select-control:focus {
  border: 2px solid #68a2ca;
}
.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.catalog-view {
  display: flex;
  column-gap: 8px;
}
.catalog-view .button {
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  width: 48px;
  height: 48px;
}
.catalog-view .button-active {
  border-color: #000000;
}
.catalog-view .button:hover {
  border-color: #000000;
}
.catalog-view .button:focus {
  border-color: #68a2ca;
}
.catalog-view .button:active {
  border-color: #000000;
}

.button-grid {
  background-image: url("../images/icons/grid-button.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  background-position: center;
}

.button-presentation {
  background-image: url("../images/icons/presentation-button.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  background-position: center;
}
.button-list {
  background-image: url("../images/icons/list-button.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  background-position: center;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  margin: 0;
  padding-bottom: 40px;
}
.card-info-container {
  padding: 16px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 16px 20px;
}
.hotel-card {
  width: 340px;
  display: flex;
  border: #e6e6e6 solid 1px;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}
.hotel-card h3 {
  text-transform: none;
  color: #000000;
  text-align: left;
}

.hotel-card-info {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  width: 140px;
}

.hotel-card .button {
  width: 140px;
  height: 36px;
  padding: 0;
}
.info-right {
  text-align: right;
}
.star-list {
  width: 140px;
  height: 37px;
  display: flex;
  column-gap: 6px;
  align-items: center;
}
.star {
  background-image: url("../images/icons/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  position: static;
}

.rating {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  width: 140px;
  height: 37px;
  text-align: center;
  display: grid;
  align-content: center;
  border-radius: 4px;
}
.pagination {
  display: flex;
  padding-top: 40px;
  margin: 0;
  column-gap: 8px;
  padding-bottom: 60px;
}

.pagination-link {
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 4px;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 12px;
  background-color: #82b3d3;
  text-align: center;
}

.pagination-link:hover {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}
.pagination-link:focus {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}
.pagination-link:active {
  background-color: rgb(130, 179, 211, 0.3);
  border: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
  border: none;
}
.pagination-current:hover {
  background-color: #f2f2f2;
  border: none;
}
.pagination-current:focus {
  background-color: #f2f2f2;
  border: none;
}
.pagination-current:active {
  background-color: #f2f2f2;
  border: none;
}

.pagination-item-without {
  color: #000000;
  background-color: rgba(130, 179, 211, 0);
}
.pagination-item-without:hover {
  background-color: rgba(130, 179, 211, 0);
  border: none;
}
.pagination-item-without:focus {
  background-color: rgba(130, 179, 211, 0);
  border: none;
}
.pagination-item-without:active {
  background-color: rgba(130, 179, 211, 0);
  border: none;
}

.footer-catalog-newsletter {
  text-align: center;
  width: 1200px;
  padding-top: 96px;
  padding-bottom: 104px;
}
.footer-catalog-container {
  margin: 0 auto;
  width: 684px;
}

.pagination-item-without {
  background-color: rgba(130, 179, 211, 0);
}
.newsletter-form-catalog {
  background-color: #f2f2f2;
}
